* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.landingPageOutterBody {
  width: 100%;
  height: auto;
  .landingPageInnerBody {
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    .filterBar {
      padding: 10% 0% 0% 0%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      justify-content: space-between;
      select {
        width: 100%;
        height: 40px;
        font-size: 16px;
        option {
          padding: 10px; /* Adjust the padding to control the height */
          font-size: 16px;
          height: 30px;
        }
      }
      button {
        width: 100px;
        font-size: medium;
        cursor: pointer;
      }
    }
  }
}
