.tablePageOutterBody {
  height: 450px;
  overflow-y: auto;
  overflow-x: auto;
  max-width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  color: black;
  .tablePageInnerBody {
    table {
      width: 100%;
      height: auto;

      .tableTitle {
        th {
          padding: 1% 0% 0% 0%;
        }
      }
      tr {
        height: 50px;
        th {
          border: 1px solid black;
          font-size: 18px;
        }
      }
    }
  }
}
.tempLineOutterBody {
  width: 100%;
  color: black;
  .tempLineInnerBady {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 450px;
    .tempLineText {
      p {
        font-size: x-large;
        font-family: "Bricolage Grotesque", sans-serif;
      }
    }
  }
}
